<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<div ng-controller="SearchCtrl">
  
  <div ng-app>
  	<p> 
      <input type='text' ng-model='search_input' id="search_input" onkeyup="expandArticles()">
      <div id="select_radios">
        <input type="radio" id="radio_articles" ng-click="show_articles_table()" ng-model='search_radio' name='selectRadio' checked="checked"><label for="radio_articles">Articles</label>
        <input type="radio" id="radio_packs" ng-click="show_coursepacks_table()" ng-model='search_radio' name='selectRadio'><label for="radio_packs">Course Packs</label>
      </div>

      <script>
        $( "#select_radios" ).buttonset();
      </script>
    </p>

    <div ng-show="articles_table_show">
      <p>
        Search by:
        <input type='checkbox' ng-model='search_title' name='Title'>Title
        <input type='checkbox' ng-model='search_description' name='Description'>Description
      </p>
      <p>
        Sort Results by:
        <input id="title_sort_articles" type="radio" ng-model='sort_result_articles' name="sortByArticle" value="sort_title"> Title 
        <input id="date_sort_articles" type="radio" ng-model='sort_result_articles' name="sortByArticle" value="sort_date"> Publication Date
      </p>
      <h3> Articles </h3> 
      <p> <%= render 'shared/search' %> </p>
    </div>

    <div ng-show="coursepacks_table_show">
      <p>
        Search by:
        <input type='checkbox' ng-model='search_title' name='Title'>Title
        <input type='checkbox' ng-model='search_summary' name='Summary'>Summary
      </p>
      <p>
        Sort Results by:
        <input id="title_sort_packs" type="radio" ng-model='sort_result_packs' name="sortByPack" value="sort_title"> Title 
        <input id="user_sort_packs" type="radio" ng-model='sort_result_packs' name="sortByPack" value="sort_user"> User
      </p>
      <h3> Course Packs </h3> 
      <p>
        <table id="coursepacks">
          <thead>
          <tr>
            <th> Title </th>
            <th> Summary </th>
            <th> User </th>
          <tr>
          </thead>
        
          <tbody ng-repeat="coursepack in all_coursepacks | input_filter:search_input:search_title:search_description:search_summary:search_articles:search_coursepacks" >
          <td> <a href="course_packs/{{coursepack.id}}"> {{coursepack.title}} </a> </td>
          <td> {{coursepack.summary}} </td>
          <td> {{coursepack.user_id}} </td>
          </tbody>
          
        </table>
    	</p>
    </div>
  </div>

</div>  <!--SearchCtrl -->