<div ng-controller='CommentsCtrl'>
<div id='comments' data-url="<%= @comments %>"></div>
  <% if @user %>
      <div id='user_comment_div'>
        <textarea id='comment' ng-model='comment_input' placeholder='Post comments here..' id='comment_input' class='textarea_input form_input'></textarea>
        <button type='button' ng-click='post()' class='course_pack_button' id='post_button'>Post</button>
      </div>
<% end %>

  <div ng-repeat='comment in comments' class='course_pack_show comment_show'>
    <div class='course_pack_headers' id='comment_user'>User:{{comment.user}}</div>
    <div class='course_pack_headers' id='comment_body'>Comment:{{comment.comment}}</div>

  </div>
   </td>
  </tr>

  </tbody>



</table>





</div><!-- CommentsCtrl -->