<div  id="show_article">
<!--<div id='show_article'> <!--data-modal-overflow="true">  -->
  <div id="modal_container">
    <h2>
      {{modal.title}}
    </h2>
    <div id='thumbnail_container'>
      <img ng-src="{{modal.thumbnail_link}}">
    </div>

    <div>
      <p> Volume: {{modal.volume}} </p>
      <p> Issue: {{modal.issue}} </p>
      <p> Published: {{dateFormatting(modal.publication_date)}} </p>
    </div>

    <div>
      <h3> Description </h3>
      <p> {{modal.description}} </p>
    </div>

    <div>
      <h3> Tags </h3>
      <p> {{modal.tags}} </p>
    </div>
  </div>
  <%= button_to "Download", :action => :download %> <button type='button' ng-click='close_modal()' id='modal_close'>Close Article Viewer</button>
</div> <!-- Modal -->
