<div ng-controller='SearchPartialCtrl'>
  <table id="articles">
      <thead>
      <tr>
        <th> Title </th>
        <th> Description </th>
        <th> Publication Date </th>
        <th> Tags </th>
      <tr>
      </thead>
    <tbody ng-repeat="article in all_articles|filter:search_input">
    Search by:
    <input type='checkbox' checked='checked'>Title
    <input type='checkbox' >Description
    <tr ng-hide='!search_input'>
      <td> {{article.title}} </td>
      <td> {{article.description}}</td>
      <td> {{article.publication_date}}</td>
      <td> {{article.tags}} </td>
      <td> <button type='button' ng-click='add_to_selected(article)'>Add</button></td>
    </tr>
    </tbody>
  </table>



</div>