<div ng-controller='SearchPartialCtrl'>
   <button id='open_modal'>OPEN</button>
  <table id="articles">
      <thead>
      <tr>
        <th> Title </th>
        <th> Description </th>
        <th> Publication Date </th>
        <th> Tags </th>
      <tr>
      </thead>
    <tbody ng-repeat="article in all_articles|filter:search_input">
    Search by:
    <input type='checkbox' checked='checked'>Title
    <input type='checkbox' >Description
    <tr ng-hide='!search_input'>
      <td> <a href='' ng-click='open_modal(article)'>{{article.title}}</a> </td>
      <td> {{article.description}}</td>
      <td> {{article.publication_date}}</td>
      <td> {{article.tags}} </td>
      <td> <button type='button' ng-click='add_to_selected(article)' ng-show="add_button">Add</button></td>
    </tr>
    </tbody>
  </table>

  <div id='modal'>
    <div style="
    width:800px;
    background: #FFF;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);"
    >

      <h2>
        {{modal.title}}
      </h2>
      <div id='thumbnail_container'>
      <img src="{{modal.thumbnail_link}}">
       </div>

      <div>
        <p> Volume: {{modal.volume}} </p>
        <p> Issue: {{modal.issue}} </p>
        <p> Published: {{modal.publication_date}} </p>
      </div>

      <div>
        <h3> Description </h3>
        <p> {{modal.description}} </p>
      </div>

      <div>
        <h3> Tags </h3>
        <p> {{modal.tags}} </p>
      </div>

         <%= button_to "Download", :action => :download %> <button type='button' ng-click='close_modal()' style="position:absolute;bottom:0;right:0;">Close</button>
        </div>
    </div> <!-- Modal -->

</div> <!-- SearchPartialCtrl -->