<div ng-controller='SearchPartialCtrl'>
  <table id="articles">
      <thead>
      <tr>
        <th> Title </th>
        <th> Description </th>
        <th> Publication Date </th>
        <th> Tags </th>
      <tr>
      </thead>
    <tbody ng-repeat="article in all_articles|filter:search_input">
    Search by:
    <input type='checkbox' checked='checked'>Title
    <input type='checkbox' >Description
    <tr ng-hide='!search_input'>
      <td> <a href='' ng-click='open_modal(article)' id='search_title'>{{article.title}}</a> </td>
      <td id='search_description'> {{article.description}}</td>
      <td> {{dateFormatting(article.publication_date)}}</td>
      <td> {{article.tags}} </td>
      <td> <button type='button' ng-click='add_to_selected(article)' ng-show="add_button">Add</button></td>
    </tr>
    </tbody>
  </table>

  <div id='show_article'> <!--data-modal-overflow="true">  -->


      <h2>
        {{modal.title}}
      </h2>
      <div id='thumbnail_container'>
      <img ng-src="{{modal.thumbnail_link}}">
       </div>

      <div>
        <p> Volume: {{modal.volume}} </p>
        <p> Issue: {{modal.issue}} </p>
        <p> Published: {{dateFormatting(modal.publication_date)}} </p>
      </div>

      <div>
        <h3> Description </h3>
        <p> {{modal.description}} </p>
      </div>

      <div>
        <h3> Tags </h3>
        <p> {{modal.tags}} </p>
      </div>

         <%= button_to "Download", :action => :download %> <button type='button' ng-click='close_modal()' id='modal_close'>Close</button>

    </div> <!-- Modal -->

</div> <!-- SearchPartialCtrl -->