<div ng-controller='SearchPartialCtrl'>

  <table class ="articles">
      <thead>
      <tr>
        <th id='title_header' class='title_column'> Title </th>
        <th id='description_header'class='description_column'> Description </th>
        <th id='publication_header'class='publication_column'> Publication Date </th>
        <th id='tags_header'class='tags_column'> Tags </th>
      </tr>
      </thead>
    </table>
  <table id='articles' class="articles">
    <tbody ng-repeat="article in all_articles| input_filter:search_input:search_title:search_description:search_summary:search_articles:search_coursepacks">
     <tr>
      <td class='title_column'> <a href='' ng-click='open_modal(article)' id='search_title'><div class='column_height'>{{article.title}}</a></div> </td>
       <td id='search_description'class='description_column'><div class='column_height'> {{article.description}}</div></td>
      <td class='publication_column'><div class='column_height'> {{dateFormatting(article.publication_date)}}</div></td>
      <td class='tags_column'><div class='column_height'> {{article.tags}}</div> </td>
     </tr>
     <tr>
       <td><button type='button' ng-click='add_to_selected(article)' ng-show="add_button">Add</button></td>
     </tr>

    </tbody>
  </table>
  <div ng-show='course_pack_radio'>

   </div>

  <%= render 'shared/modal' %>

</div> <!-- SearchPartialCtrl -->

