<div ng-controller='SearchPartialCtrl'>

  <table id="articles">
      <thead>
      <tr>
        <th> Title </th>
        <th> Description </th>
        <th> Publication Date </th>
        <th> Tags </th>
      <tr>
      </thead>
    <tbody ng-repeat="article in all_articles | input_filter:search_input:search_title:search_description:search_summary:search_articles:search_coursepacks">
    
      <td> <a href='' ng-click='open_modal(article)'>{{article.title}}</a> </td>
      <td> {{article.description}}</td>
      <td> {{article.publication_date}}</td>
      <td> {{article.tags}} </td>
      <td> <button type='button' ng-click='add_to_selected(article)' ng-show="add_button">Add</button> </td>
    </tbody>
  </table>

  <div id='modal'>
    <div style="
    width:800px;
    background: #FFF;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);"
    >

      <h2>
        {{modal.title}}
      </h2>

      <img src="{{modal.thumbnail_link}}">

      <div>
        <p> Volume: {{modal.volume}} </p>
        <p> Issue: {{modal.issue}} </p>
        <p> Published: {{modal.publication_date}} </p>
      </div>

      <div>
        <h3> Description </h3>
        <p> {{modal.description}} </p>
      </div>

      <div>
        <h3> Tags </h3>
        <p> {{modal.tags}} </p>
      </div>

      <%= button_to "Download", :action => :download %> <button type='button' ng-click='close_modal()' style="position:absolute;bottom:0;right:0;">Close</button>
    </div>
  </div>


</div>