<div ng-controller='SearchPartialCtrl'>

  <table id="articles">
      <thead>
      <tr>
        <th> Title </th>
        <th> Description </th>
        <th> Publication Date </th>
        <th> Tags </th>
      <tr>
      </thead>
    <tbody ng-repeat="article in all_articles| input_filter:search_input:search_title:search_description:search_summary:search_articles:search_coursepacks">
      <td> <a href='' ng-click='open_modal(article)' id='search_title'>{{article.title}}</a> </td>
      <td id='search_description'> {{article.description}}</td>
      <td> {{dateFormatting(article.publication_date)}}</td>
      <td> {{article.tags}} </td>
      <td> <button type='button' ng-click='add_to_selected(article)' ng-show="add_button">Add</button> </td>
    </tbody>
  </table>

  <%= render 'shared/modal' %>

</div> <!-- SearchPartialCtrl -->

