<img style="width:96%; height:auto; margin-top:10px; margin-left:2%" src="/images/nacla_logo.jpg">
<h1> This is the Home Page. There will be more things here eventually... probably... For now, enjoy this inspirational picture.  </h1>
<img style="width:96%; height:auto; margin-top:10px; margin-left:2%; margin-bottom:15px;" src="/images/homepage_placeholder.jpg">