<div ng-controller='EditCoursePackCtrl' >

<div id='course_pack_content' data-url="<%= @course_pack %>"></div>
<div id='articles_content' data-url="<%= @articles %>"></div>

<%= render 'course_pack_form' %>


</div>
