<h1>New Course Pack</h1>
<div ng-controller="CreateCoursePackCtrl">
    <span id='course_pack_error'>{{error}}</span><br/>

    <%= render 'course_pack_form' %>


    <input type='text' ng-model="search_input">
    <%= render 'shared/search' %>



<%= link_to 'Back', course_packs_path %>

    <div id='cancel_dialog'>
        <p>Are you sure you want to cancel? Your course pack will is not saved</p>
    </div>
</div>
