// Place all the styles related to the CoursePacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#container {
	width: 100%;
}

#header {
	width: 100%;
}

#course_pack_error {
    color:red;
}

#cancel_dialog{
    display:none;
}



